
.visually-hidden {
    display: none;
}

.buttenfullwidth{
    width: 100%;
}


.btn {
    border-radius: 10px;
    border:none;
    padding: 10px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .1s ease-in-out;
    border: 5px solid var(--accent-gradient); 
}
/*--#BUTTON colors----------------------------------*/
.btn-primary   { 
    background-color:#111;
    color:white;
      
}

.btn-secondary { 
    background-color:#222; 
    color:white; 

}
.btn-success   { background-color:limegreen;  color:white;}
.btn-pmc       { background-color: #36c;  color:white;}
.btn-danger    { background-color:rgb(158, 0, 0); color:white;}
.btn-warning   { background-color:darkorange;}
.btn-info      { background: rgba(var(--accent), 5%); color: rgb(var(--accent));}
.btn-light     { background-color:white;}
.btn-dark      { background-color:black; color:white; border:3px solid #222;}
.btn-link      { background-color:transparent;}

/*------------------------------------*/
/*--#BUTTON border colors----------------------------------*/

.btn-outline   { border:1px solid; background-color:transparent; color:white;}
.btn           { border:1px solid #222; }
.btn-primary   { border:1px solid #222; }
.btn-secondary { border:1px solid #333; }
.btn-success   { border:1px solid #222;  }
.btn-danger    { border:1px solid #222;  }
.btn-warning   { border:1px solid #222;  }
.btn-info      { border:1px solid rgb(var(--accent), 12%)  }
.btn-light     { border:1px solid #999;  }
.btn-dark      { border:1px solid #222;  }
.btn-link      { border:1px solid transparent; color: inherit; text-decoration: underline; }


/*------------------------------------*/

.btn:is(:hover, :focus-within) {     filter: brightness(1.5);}
/* //add a glowing effect to the button on hover */
.btn:is(:hover, :focus-within) {    filter: brightness(1.5);  }

.btn-outline:hover { background-color:transparent; color:white; border-color: rgba(var(--accent2));}
.btn:hover           { color: var(--accent2);  }
.btn-primary:hover   { border:1px solid #222; }
.btn-secondary:hover { border: 1px solid #333 }
.btn-success:hover   { color:white;}
.btn-danger:hover    { color:white;}
.btn-warning:hover   { color:black;}
.btn-info:hover      {  }
.btn-light:hover     {  }
.btn-dark:hover      {  }





/*------------------------------------*/

grid{
    display: grid;
    gap:10px;

}
/*------------------------------------*/
.pilled, .circle{
    border-radius: 100px;
}
   
.circle{ aspect-ratio: 1 / 1;
}

.btn a{
    text-decoration: none;
    color: inherit;
}

.btn img {
    max-width: 12px;
    color: white;
    filter: invert(1);
}