
.visually-hidden {
    display: none;
}

.buttenfullwidth{
    width: 100%;
}


.btn {
    border-radius: 10px;
    border:none;
    padding: 10px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .1s ease-in-out;
    border: 5px solid var(--accent-gradient); 
}
/*--#BUTTON colors----------------------------------*/
.btn-primary   { 
    background-color:#111;
    color:white;
      
}

.btn-secondary { 
    background-color:transparent; 
    color:white; 

}
.btn-success   { background-color:limegreen;  color:white;}
.btn-danger    { background-color:rgb(158, 0, 0); color:white;}
.btn-warning   { background-color:darkorange;}
.btn-info      { background: rgba(var(--accent), 12%); color: rgb(var(--accent)) ;}
.btn-light     { background-color:white;}
.btn-dark      { background-color:black; color:white; border:3px solid #222;}
/* .btn-link      { background-color:goldenrod;} */

/*------------------------------------*/
/*--#BUTTON border colors----------------------------------*/

.btn-outline { background-color:transparent; color:white; border:1px solid;}
.btn           {  }
.btn-primary   { border:3px solid #222; }
.btn-secondary { border: 3px solid #333 }
.btn-success   {  }
.btn-danger    {  }
.btn-warning   {  }
.btn-info      {  }
.btn-light     {  }
.btn-dark      {  }


/*------------------------------------*/

.btn:is(:hover, :focus-within) {     filter: brightness(1.5);}
/* //add a glowing effect to the button on hover */
.btn:is(:hover, :focus-within) {    filter: brightness(1.5);  }

.btn-outline:hover { background-color:transparent; color:white; border:1px solid;}
.btn:hover           { color: var(--accent2);  }
.btn-primary:hover   { border:3px solid #222; }
.btn-secondary:hover { border: 3px solid #333 }
.btn-success:hover   {  }
.btn-danger:hover    {  }
.btn-warning:hover   {  }
.btn-info:hover      {  }
.btn-light:hover     {  }
.btn-dark:hover      {  }





/*------------------------------------*/

grid{
    display: grid;
    gap:10px;

}
/*------------------------------------*/
.pilled, circle{
    border-radius: 100px;
}