

main {		
		padding: 1.5rem;
	}
	.wrapper{ 
	max-width: 100% !important;
	height:auto;
	display: grid;
	grid-template-columns: auto;
	font-size: large;
	font-weight: 400;
	color: #ededed;
}

img, Image{ 
	width: 100%;
	overflow: hidden;
	width: fit-content;
	object-fit: cover;
	border-radius: 5px;
	
}
/*--------------------------------------------*/
h1 {
	color:#efefef;
	font-size: 4rem;
	font-weight: 900;
	line-height: 1em;
	margin: 0;
}
    
@media (max-width: 1000px) {
	H1 {
		font-size: 3.5em;
	}
}
@media (max-width: 700px) {
	H1 {
		font-size: 2em;
	}
}

h2 {
	font-size: 3rem;
	font-weight: 700;
	
}
    
@media (max-width: 1000px) {
	H2 {
		font-size: 2.5em;
	}
}
@media (max-width: 700px) {
	H2 {
		font-size: 1.5em;
	}
}
/*--------------------------------------------*/
.contentwrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2%;
}

	.text-gradient, h1 {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	table {		
		text-align: left;
	}
	
	/* table h2, table h3, table h4{
		font-size: 2.5em;
		margin-top: 1em;
		margin-bottom: 0;
	} */

	.dynmap, iframe {
		position: relative;
		border-radius: 25px;
		z-index: 1;
		min-width:100%; 
		min-height:720px; 
		border: none;
	}

	/* .------------ */

	
