---
import Layout from '../layouts/Layout.astro';
import Instruction from '../components/Instruction.astro';
import Herovideo from '../components/Herovideo.astro';

export interface Props {
    title: string;
}

const { title } = Astro.props;
import { Image, Picture } from "astro:assets";
import smpS4P1 from '../pages/maps/2023/smpS4/0.jpg'
import Shelfitem from '../components/Shelfitem.astro';


/* ------------------------- */
const allPosts = await Astro.glob('../../src/pages/maps/**/**/*.md');

// Shuffle posts
function shuffleArray(array) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
}
shuffleArray(allPosts);

// Transform the post data
const postsWithImagesv1 = await Promise.all(allPosts.map(async (post) => {
    const coverImage = post.frontmatter.coverRelative
      ? (await import(`/src/pages/maps${post.frontmatter.coverRelative}`)).default 
      : null; // Get the default export from the module

    return {
      url: post.url,
      title: post.frontmatter?.title || null,
      coverImage: coverImage || null, // Store the imported image
      alt: post.frontmatter?.alt || "Post image",
    };
}));


---

<Layout title="McMeddons Community Server">	
    
<Herovideo
    src="/videos/herovidmcs7.mp4">
</Herovideo>

<div class="spacer40"></div>

<div class="introbannerdiv"><div class="introbannerdiv">
    <Image 
    class="introbanner" 
    src={import(`../images/mcssmp1.png`)} 
    height={150}
    
    alt=""
    loading="eager"
    decoding="async"
    /></div>
    
    <div class="spacer10"></div>
<style>
    .introbannerdiv{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .introbanner{
        
        display: grid;
        justify-content: center;
        align-items: center;
        
    }
</style>



    <!-- <Herotext
       h1="McMeddons Community Server, the Creative Coop Survival Adventure SMP"
       p="Play together on McMeddons latest custom survival worlds. Where you can explore and adventure through the most stunning landscapes and biomes. Build your dream base, make friends and enjoy Minecraft like never before."
       p2=""
       body=""       
       >
       <br>
       <button class="btn btn-light" ><a href="http://discord.mcmeddon.com" target="_blank">Join now</a></button>
       <button class="btn btn-primary" ><a href="http://play.mcmeddon.com:8123/?worldname=Gelazkor&mapname=surface&zoom=1&x=2381&y=64&z=2500" target="_blank">See Dynmap</a></button>
       

        
       <br><br>
       
       <button class="btn btn-link" ><a href="https://www.planetminecraft.com/server/play-mcmeddon-com/" target="_blank">All details</a></button>
    </Herotext> -->
    
    <content>
        <div class="">
            <button class="btn btn-info" >  Joined since beginning: 370+</button>
    
            <button class="btn btn-secondary" >  <a href="#">Season 1</a></button>
            <button class="btn btn-secondary" ><a href=#">Season 2</a></button>
            <button class="btn btn-secondary" ><a href="#">Season 3</a></button>
            <button class="btn btn-secondary" ><a href="#">Season 4</a></button>
            <button class="btn btn-secondary" ><a href="#">Season 5</a></button>
            <button class="btn btn-light" ><a href="#">Season 6</a></button>
        </div>
        <section class="split2">
            <section class="split2">
            <Instruction
                h2="How to join via Java?"
                p=""
                p2=""
                note=""
                >
                <br>
                    IP:<code>play.mcmeddon.com</code> <br>Port:<code>25565</code>
                
            </Instruction>
            
            <Instruction
                h2="How to join via Bedrock?"
                p=""
                p2=""
                note=""
                >
                <br>
                    IP:<code>play.mcmeddon.com</code> <br>Port:<code>25565</code>
            </Instruction>
        </section>
        <Instruction
            h2="How to get whitelisted?"
            p=""
            p2=""
            note=""
            >
                - Join the discord server 
                <br>- Enter your name  in <code>#server-whitelist</code>
                <br>- or msg a staff member to get whitelisted. 
        </Instruction>
    </section>
    <section class="split4">
        <script></script>
        <Shelfitem img ={import(`../pages/maps/2023/smpS4/0.jpg`)} ></Shelfitem>
        <Shelfitem img ={import(`../pages/maps/2023/smpS4/1.jpg`)} ></Shelfitem>
        <Shelfitem img ={import(`../pages/maps/2023/smpS4/2.jpg`)} ></Shelfitem>
        <Shelfitem img ={import(`../pages/maps/2023/smpS4/3.jpg`)} ></Shelfitem>
        

        <Picture class="heroimage" alt="banner image" loading="lazy"
        src={import(`../pages/maps/2023/smpS4/4.jpg`)} 
        alt="Dynamic Image" 
        class="coverArt"
        quality={50}
        height={500}
        format="webp"
        loading="lazy"
        decoding="async" />

        <Picture class="heroimage" alt="banner image" loading="lazy"
        src={import(`../pages/maps/2023/smpS4/5.jpg`)} 
        alt="Dynamic Image" 
        class="coverArt"
        quality={50}
        height={500}
        format="webp"
        loading="lazy"
        decoding="async"/>

        <Picture class="heroimage" alt="banner image" loading="lazy"
        src={import(`../pages/maps/2023/smpS4/6.jpg`)} 
        alt="Dynamic Image" 
        class="coverArt"
        quality={50}
        height={500}
        format="webp"
        loading="lazy"
        decoding="async"/>

        <Picture class="heroimage" alt="banner image" loading="lazy"
        src={import(`../pages/maps/2023/smpS4/21.jpg`)} 
        alt="Dynamic Image" 
        class="coverArt"
        quality={50}
        height={500}
        format="webp"
        loading="lazy"
        decoding="async"/>
    </section>

    <Picture class="heroimage" alt="banner image" loading="lazy"

                src={import(`../pages/maps/2023/smpS4/7.jpg`)} 
                alt="Dynamic Image" 
                class="coverArt"
                quality={50}
                format="webp"
                loading="lazy"
                decoding="async"
                 />

        <section class="split2">
            <Picture class="heroimage" alt="banner image" loading="lazy"
            width={0}
            aspectRatio={1/1}
            quality={50}
            format={"avif"}
            src={import(`../pages/maps/2023/smpS4/8.jpg`)}/>
            
            <div>
                <h2><i>A communtiy for explorers, <br>builders and kind people!</i></h2>
            </div>
            
        </section>

   

    <section class="split2">
        <Picture class="heroimage" alt="banner image" loading="lazy"
        src={import(`../pages/maps/2023/smpS4/9.jpg`)} 
        alt="Dynamic Image" 
        class="coverArt"
        quality={50}
        format="webp"
        loading="lazy"
        decoding="async" />

        <Picture class="heroimage" alt="banner image" loading="lazy"
        src={import(`../pages/maps/2023/smpS4/10.jpg`)} 
        alt="Dynamic Image" 
        class="coverArt"
        quality={50}
        format="webp"
        loading="lazy"
        decoding="async" />
    
    </section>

    <Picture class="heroimage" alt="banner image" loading="lazy"
    src={import(`../pages/maps/2023/smpS4/11.jpg`)} 
    alt="Dynamic Image" 
    class="coverArt"
    quality={50}
    format="webp"
    loading="lazy"
    decoding="async" />

    <section class="split2">
        <Picture class="heroimage" alt="banner image" loading="lazy"
        src={import(`../pages/maps/2023/smpS4/12.jpg`)} 
        alt="Dynamic Image" 
        class="coverArt"
        quality={50}
        format="webp"
        loading="lazy"
        decoding="async" />

        <Picture class="heroimage" alt="banner image" loading="lazy"
        src={import(`../pages/maps/2023/smpS4/13.jpg`)} 
        alt="Dynamic Image" 
        class="coverArt"
        quality={50}
        format="webp"
        loading="lazy"
        decoding="async" />
    
    </section>
    <Picture class="heroimage" alt="banner image" loading="lazy"
    src={import(`../pages/maps/2023/smpS4/14.jpg`)} 
    alt="Dynamic Image" 
    class="coverArt"
    quality={50}
    format="webp"
    loading="lazy"
    decoding="async" />
<hr>

    <section class="split2">
            <div>
                <h2><i>Play, trade, adventure or <br>explore the latest custom Maps</i></h2>
                <p>
                    

            </div>

           <Picture class="heroimage" alt="banner image" loading="lazy"
           src={import(`../pages/maps/2023/smpS4/15.jpg`)} 
           alt="Dynamic Image" 
           class="coverArt"
           quality={50}
           format="webp"
           loading="lazy"
           decoding="async" /> 
        </section>

        <section class="split4">
            <Picture class="heroimage" alt="banner image" loading="lazy"
            src={import(`../pages/maps/2023/smpS4/16.jpg`)} 
            alt="Dynamic Image" 
            class="coverArt"
            quality={50}
            height={400}
            format="webp"
            loading="lazy"
            decoding="async" />
    
             <Picture class="heroimage" alt="banner image" loading="lazy"
                src={import(`../pages/maps/2023/smpS4/17.jpg`)} 
                alt="Dynamic Image" 
                class="coverArt"
                quality={50}
                height={400}
                format="webp"
                loading="lazy"
                decoding="async" />

             <Picture class="heroimage" alt="banner image" loading="lazy"
             src={import(`../pages/maps/2023/smpS4/18.jpg`)} 
             alt="Dynamic Image" 
             class="coverArt"
             quality={50}
             height={400}
             format="webp"
             loading="lazy"
             decoding="async" />
    
            <Picture class="heroimage" alt="banner image" loading="lazy"
            src={import(`../pages/maps/2023/smpS4/19.jpg`)} 
            alt="Dynamic Image" 
            class="coverArt"
            quality={50}
            height={400}
            format="webp"
            loading="lazy"
            decoding="async" /> 
        
        </section>
        <Picture class="heroimage" alt="banner image"
        src={import(`../pages/maps/2023/smpS4/20.jpg`)} 
        alt="Dynamic Image" 
        class="coverArt"
        quality={50}
        format="webp"
        loading="lazy"
        decoding="async"  />



</content>

</Layout>


<style>

/* //.videohero add a black gradient over the video */



hr{margin:5em;}
    .split2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }

    .split3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }

    .split4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }
    img {
        margin-top: 1em;
        margin-bottom: 1em;
    }
html {
    scroll-behavior: smooth;
}
</style>