---
import Layout from '../layouts/Layout.astro';
/* import Herobanner from '../components/Herobanner.astro'; */
import Card from '../components/Card.astro';
import Herotext from '../components/Herotext.astro';
/* import BBcode from '../components/bbcode.astro';*/
import Instruction from '../components/Instruction.astro';
import Herovideo from '../components/Herovideo.astro';
import Pill from '../components/Pill.astro';
/* import McPing from '../components/McPing.astro'; */
/* import BGani from '../components/BG-animation.astro';
import BGani2 from '../components/BG-animation2.astro';  */

export interface Props {
    title: string;
}

const { title } = Astro.props;
import { Image, Picture } from "astro:assets";
import smpS4P1 from '../pages/maps/2023/smpS4/0.jpg'
---

<Layout title="McMeddons Community Server">	
    
<Herovideo
    src="/videos/herovidmcs7.mp4">
</Herovideo>

<div class="introbannerdiv"><img class="introbanner" src="../src/images/minecraft_title.png" alt=""></div>
		
<style>
    .introbannerdiv{
        margin-top: 55vh;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .introbanner{
        
        display: grid;
        justify-content: center;
        align-items: center;
        max-width: 700px;
        
    }
</style>



    <!-- <Herotext
       h1="McMeddons Community Server, the Creative Coop Survival Adventure SMP"
       p="Play together on McMeddons latest custom survival worlds. Where you can explore and adventure through the most stunning landscapes and biomes. Build your dream base, make friends and enjoy Minecraft like never before."
       p2=""
       body=""       
       >
       <br>
       <button class="btn btn-light" ><a href="http://discord.mcmeddon.com" target="_blank">Join now</a></button>
       <button class="btn btn-primary" ><a href="http://play.mcmeddon.com:8123/?worldname=Gelazkor&mapname=surface&zoom=1&x=2381&y=64&z=2500" target="_blank">See Dynmap</a></button>
       

        
       <br><br>
       
       <button class="btn btn-link" ><a href="https://www.planetminecraft.com/server/play-mcmeddon-com/" target="_blank">All details</a></button>
    </Herotext> -->
    
    <content>
        <div class="">
            <button class="btn btn-info" >  Joined since beginning: 370+</button>
    
            <button class="btn btn-secondary" >  <a href="#">Season 1</a></button>
            <button class="btn btn-secondary" ><a href=#">Season 2</a></button>
            <button class="btn btn-secondary" ><a href="#">Season 3</a></button>
            <button class="btn btn-light" ><a href="#">Season 4</a></button>
        </div>
        <section class="split2">
            <section class="split2">
            <Instruction
                h2="How to join via Java?"
                p=""
                p2=""
                note=""
                >
                <br>
                    IP:<code>play.mcmeddon.com</code> <br>Port:<code>25565</code>
                
            </Instruction>
            
            <Instruction
                h2="How to join via Bedrock?"
                p=""
                p2=""
                note=""
                >
                <br>
                    IP:<code>play.mcmeddon.com</code> <br>Port:<code>25565</code>
            </Instruction>
        </section>
        <Instruction
            h2="How to get whitelisted?"
            p=""
            p2=""
            note=""
            >
                - Join the discord server 
                <br>- Enter your name  in <code>#server-whitelist</code>
                <br>- or msg a staff member to get whitelisted. 
        </Instruction>
    </section>
    <section class="split4">
        <script></script>
        <Picture 
        class="heroimage" 
        alt="banner image" 
        loading="lazy"
        widths={0}
        height={540}
        quality={50}
        format={"avif"}
        src={smpS4P1} />

       <!--  <Picture class="heroimage" alt="banner image" loading="lazy"
        widths={[400, 1200 ]}
        aspectRatio={1/1}
        quality={50}
        format={"avif"}
        src="/images/gelazkor/gelazkor1b.png" />
 -->
<!--         <Picture class="heroimage" alt="banner image" loading="lazy"
        widths={[400, 1200]}
        aspectRatio={1/1}
        quality={50}
        format={"avif"}
        src="/images/gelazkor/gelazkoro.png" /> -->

<!--         <Picture class="heroimage" alt="banner image" loading="lazy"
        widths={[400, 1200]}
        aspectRatio={1/1}
        quality={50}
        format={"avif"}
        src="/images/smp/s4/23.png" /> -->
    </section>
<!--     <Picture class="heroimage" alt="banner image" loading="lazy"
    widths={[400, 1200]}
    aspectRatio={3/1}
    quality={50}
    format={"avif"}
    src="/images/smp/s4/2.png" /> -->

        <section class="split2">
            <!-- <Picture class="heroimage" alt="banner image" loading="lazy"
            widths={[400, 1200]}
            aspectRatio={1/1}
            quality={50}
            format={"avif"}
            src="/images/smp/s4/4.png" /> -->

            
            <div>
                <h2><i>A communtiy for explorers, <br>builders and kind people!</i></h2>
            </div>
            
        </section>

   

    <section class="split2">
        <!-- <Picture class="heroimage" alt="banner image" loading="lazy"
        widths={[400, 1200]}
        aspectRatio={1/1}
        quality={50}
        format={"avif"}
        src="/images/smp/s4/7.png" /> -->

        <!-- <Picture class="heroimage" alt="banner image" loading="lazy"
        widths={[400, 1200]}
        aspectRatio={1/1}
        quality={50}
        format={"avif"}
        src="/images/smp/s4/6.png" /> -->
    
    </section>

    <!-- <Picture class="heroimage" alt="banner image" loading="lazy"
    widths={[400, 1200]}
    aspectRatio={3/1}
    quality={50}
    format={"avif"}
    src="/images/smp/s4/3.png" /> -->

    <section class="split2">
       <!--  <Picture class="heroimage" alt="banner image" loading="lazy"
        widths={[400, 1200]}
        aspectRatio={1/1}
        quality={50}
        format={"avif"}
        src="/images/smp/s4/9.png" />

        <Picture class="heroimage" alt="banner image" loading="lazy"
        widths={[400, 1200]}
        aspectRatio={1/1}
        quality={50}
        format={"avif"}
        src="/images/smp/s4/13.png" /> -->
    
    </section>
   <!--  <Picture class="heroimage" alt="banner image" loading="lazy"
    widths={[400, 1200]}
    aspectRatio={3/1}
    quality={50}
    format={"avif"}
    src="/images/smp/s4/14.png" /> -->
<hr>

    <section class="split2">
            <div>
                <h2><i>Play, trade, adventure or <br>explore the latest custom Maps</i></h2>
                <p>
                    

            </div>

           <!--  <Picture class="heroimage" alt="banner image" loading="lazy"
            widths={[400, 1200]}
            aspectRatio={1/1}
            quality={50}
            format={"avif"}
            src="/images/gelazkor/gelazkoro.png" /> -->
        </section>
        <section class="split4">
           <!--  <Picture class="heroimage" alt="banner image" loading="lazy"
            widths={[400, 1200]}
            aspectRatio={1/1}
            quality={50}
            format={"avif"}
            src="/images/smp/s4/15.png" /> -->
    
            <!-- <Picture class="heroimage" alt="banner image" loading="lazy"
            widths={[400, 1200]}
            aspectRatio={1/1}
            quality={50}
            format={"avif"}
            src="/images/smp/s4/10.png" />
 -->
            <!-- <Picture class="heroimage" alt="banner image" loading="lazy"
            widths={[400, 1200]}
            aspectRatio={1/1}
            quality={50}
            format={"avif"}
            src="/images/smp/s4/18.png" /> -->
    
            <!-- <Picture class="heroimage" alt="banner image" loading="lazy"
            widths={[400, 1200]}
            aspectRatio={1/1}
            quality={50}
            format={"avif"}
            src="/images/smp/s4/19.png" /> -->
        
        </section>
<!--         <Picture class="heroimage" alt="banner image"
        widths={[400, 1200]}
        aspectRatio={3/1}
        quality={50}
        format={"avif"}
        src="/images/smp/s4/17.png" /> -->



</content>

</Layout>


<style>

/* //.videohero add a black gradient over the video */



hr{margin:5em;}
    .split2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }

    .split3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }

    .split4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }
    img {
        margin-top: 1em;
        margin-bottom: 1em;
    }
html {
    scroll-behavior: smooth;
}
</style>