---
import Herotext from '../components/Herotext.astro';
import Layout from '../layouts/Layout.astro';
import Herotext from '../components/Herotext.astro';
import AccordionFeatured from '../components/AccordionFeatured.astro';
---



<placeholder></placeholder>
<div class="fullbannercontainer">
    <section class="scrollchild  ">
        <div class="overlay">
            <video class="image video" src="/videos/herovid_compli1.mp4" alt="hero" autoplay muted loop preload="none" loading="lazy"/>
        </div>
        <!-- <video class="image" src="../../public/videos/herovidmcs7.mp4" alt="hero" autoplay muted loop preload="none" loading="lazy"/> -->
        <!-- <img class="himage" src="../images/gelazkor/gelazkoro.png" alt="hero" /> -->
        <div class="components">
            <placeholder></placeholder>
            
            <div>
                <h2 class="black text-gradient">Advanced Survival Friendly <br>Vanilla Minecraft Landscapes</h2>
                <hr style="width:50%;">
                <p>Creating with passion, survival worlds for solo, coop and multiplayer 
                    <br>server adventures for you to explore and enjoy</p>
                <button class="btn btn-white">Explore in 3D</button>
                <button class="btn btn-dark">View all Features</button>
                <button class="btn btn-outline">Become Patreon</button>
            </div>
        </div>
    </section>

    <section class="scrollchild  overlay">
        <!-- <video class="image" src="/videos/herovid_zarbokos1.mp4" alt="hero" autoplay muted loop preload="none" loading="lazy"/> -->
        <!-- <video class="image" src="../../public/videos/herovidmcs7.mp4" alt="hero" autoplay muted loop preload="none" loading="lazy"/> -->
        <div class="overlay">
            <img class="image" src="../images/kekaterra/1.png" alt="hero" />
        </div>
        <div class="components">
            
            <div>
                <h2 class="black text-gradient ">Super Sized Minecraft Worlds</h2>
                <hr style="width:50%;">
                <p> Travel beyond stunning landscapes and settle beneath astonoshing mountains, 
                    <br>find dynamic planes, forest and complex worlds to conquer</p>
                <button class="btn btn-primary">View all features</button>
                <button class="btn btn-secondary">Explore on pmc</button>
            </div>
        </div>
    </section>

    <section class="scrollchild  ">
        <div class="overlay">
            <video class="image video" src="/videos/herovid_zarbokos1.mp4" alt="hero" autoplay muted loop preload="none" loading="lazy"/>
        </div>
        <!-- <video class="image" src="../../public/videos/herovidmcs7.mp4" alt="hero" autoplay muted loop preload="none" loading="lazy"/> -->
        <!-- <img class="himage" src="../images/gelazkor/gelazkoro.png" alt="hero" /> -->
        <div class="components">
           
            <div>
                <h2 class="black text-gradient">Single Player Worlds</h2>
                <hr style="width:50%;">
                <p> Explore huge worlds with unique new features, <br> and landscapes for your next adventure</p>
                <button class="btn btn-primary">View all features</button>
                <button class="btn btn-secondary">Explore on pmc</button>
            </div>
        </div>
    </section>

    <section class="scrollchild  overlay">
        <!-- <video class="image" src="/videos/herovid_zarbokos1.mp4" alt="hero" autoplay muted loop preload="none" loading="lazy"/> -->
        <!-- <video class="image" src="../../public/videos/herovidmcs7.mp4" alt="hero" autoplay muted loop preload="none" loading="lazy"/> -->
        <img class="image" src="/images/yorotorm/2.png" alt="hero" />
        <div class="components">
            
            <div>
                <h2 class="black text-gradient">Community & Server Worlds</h2>
                <hr style="width:50%;">
                <p> Explore a gigantic creative world for your adventures! </p>
                <button class="btn btn-primary">See on PMC</button>
                <button class="btn btn-secondary">Explore on pmc</button>
            </div>
            
        </div>
    </section>
</div>
<Layout class="">
    

        <Herotext
        h1="UI Components overview"
        p="all visbile compontents to display"
        p2=""
        body=""
        >
        <br>
        <a href="/"><button class="btn btn-primary">Explore in 3D</button></a>
        <a href="/world-dynmaps/"><button class="btn btn-secondary">Become Patreon</button></a>
    
    </Herotext>
            


    <hr>
    <AccordionFeatured></AccordionFeatured>

    <hr>

<h2> Overview Buttons</h2>
<div class="d-flex gap-2 justify-content-center py-5 scrollchild">
    <button class="btn btn-primary pilled" type="button">Primary</button>
    <button class="btn btn-secondary pilled " type="button">Secondary</button>
    <button class="btn btn-success pilled " type="button">Success</button>
    <button class="btn btn-danger pilled " type="button">Danger</button>
    <button class="btn btn-warning pilled " type="button">Warning</button>
    <br>
    <br>
    <button class="btn btn-outline " type="button">Info</button>
    <button class="btn btn-info " type="button">Info</button>
    <button class="btn btn-light " type="button">Light</button>
    <button class="btn btn-dark " type="button">Dark</button>
    <button class="btn btn-link " type="button">Link</button>
    <button class="btn btn-primary circle" type="button">
        <img src="/ui/x.svg"/>
        <span class="visually-hidden">Dismiss</span>
      </button>
      <hr>
    <grid>
      <button class="btn btn-primary " type="button">Primary action</button>    
        <button class="btn btn-outline " type="button">Secondary action</button>
    </grid>
  </div>
<hr>

<h2>Overview Text</h2>
    
<h1>Page Heading with <i>Italics</i> and <u>Underline</u></h1>
<p>Page Subheading with <mark>highlighting</mark></p>
<br>

<hr>

    <main>
        <hr>
        <section>
            <h1 class="text-gradient"> H1 Heading with gradient</h1>
            <h1> H1 Heading</h1>
            <h2> H2 Subheading</h2> 
            <h3> H3 Subheading</h3>   
            <h4> H4 Subheading</h4>
            <h5> H5 Subheading</h5>
            <h6> H6 Subheading</h6>
            <header>
                <h2>Section Heading</h2>
                <p>Section Subheading</p>
            </header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam assumenda voluptatibus pariatur perspiciatis ipsam voluptate, fugiat dolor et. Corporis totam suscipit esse facilis quasi ratione ipsum necessitatibus aliquid accusamus repudiandae.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam assumenda voluptatibus pariatur perspiciatis ipsam voluptate, fugiat dolor et. Corporis totam suscipit esse facilis quasi ratione ipsum necessitatibus aliquid accusamus repudiandae.</p>
        </section>
        <hr>
        <section>
            <blockquote>
                "Quote"
                <footer><i>- Attribution</i></footer>
            </blockquote>
        </section>
        <hr>
        <section>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Col A</th>
                        <th>Col B</th>
                        <th>Col C</th>
                    </tr>
                </thead>
                <tbody><tr>
                    <td>Row 1</td>
                    <td>Cell A1</td>
                    <td>Cell B1</td>
                    <td>Cell C1</td>
                </tr>
                <tr>
                    <td>Row 2</td>
                    <td>Cell A2</td>
                    <td>Cell B2</td>
                    <td>Cell C2</td>
                </tr>
            </tbody></table>
        </section>
        <hr>
        <article>
            <h2>Left-aligned header</h2>
            <p>Left-aligned paragraph</p>
            <aside>
                <p>Article callout</p>
            </aside>
            <ul>
                <li>List item 1</li>
                <li>List item 2</li>
            </ul>
            <figure>
                <img alt="Stock photo" src="https://via.placeholder.com/1080x500?text=Amazing+stock+photo">
                <figcaption><i>Image caption</i></figcaption>
            </figure>
        </article>
        <hr>
        <div>
            <details open="">
                <summary>Expandable title</summary>
                <p>Revealed content</p>
            </details>
            <details open="">
                <summary>Another expandable title</summary>
                <p>More revealed content</p>
            </details>
            <br>
            <p>Inline <code>code</code> snippets</p>
            <pre style="position: relative;">                <code>
                // preformatted code block
            </code>
            <div class="open_grepper_editor" title="Edit &amp; Save To Grepper"></div></pre>
        </div>
        <hr>
        <section>
            <form>
                <header>
                    <h2>Form title</h2>
                </header>
                <label for="input1">Input label:</label>
                <input type="text" id="input1" name="input1" size="20" placeholder="Input1">
                <label for="select1">Select label:</label>
                <select id="select1">
                    <option value="option1">option1</option>
                    <option value="option2">option2</option>
                </select>
                <label for="textarea1">Textarea label:</label>
                <textarea cols="40" rows="5" id="textarea1"></textarea>
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>

    <footer>
        <hr>
        <p>
            <small>Contact info</small>
        </p>
    </footer>
</wrapper>


</Layout> 

<style>
    .fullbannercontainer{   
        position: relative;     
        top: 0;
        right: 0;
        height: max-content;    
         

    }

    .scrollchild{ 
        scroll-snap-align: start;
        scroll-snap-stop: normal;
    }

    .scrollchild{
        position:relative;
        height: 100vh; 
    }
    @media screen and (max-width: 600px) {
        .fullbannercontainer{
            height: 100vh; 
            height: max-content;   
            
            min-width: 100%;
        }
    }

  .image {
    object-fit: cover;
    width: 100%; 
    min-height:100%;
    min-height:100vh;
}

p{ 
    color:white;
}
    .video {
            opacity: 1;
            padding-left:-1px;
            margin:0;
            
    }
    
    .overlay{
        display:block;
    }
    .overlay:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width:100%;
    padding:0;
    margin:0;
    
    display: inline-block;
    background: linear-gradient(0deg, rgba(29, 29, 39, 0.9) 10%, rgba(255,255,255,0) 50%, rgba(246,246,246,0) 90%, rgba(0,0,0,0) 100%);
    z-index: 1;
    }


  .components{  
    position: absolute;
    bottom: 0;
    margin:auto;
    
    width: 100%;
    height: 100%;
    padding-bottom: 3em;
    
    display: grid;
    grid-template-rows: minmax(1fr, 2fr);
    align-items: flex-end;
    text-align: center;
    justify-content: baseline;

    z-index: 10;
    
}
</style>
