---
import Instruction from '../components/Instruction.astro';
import Layout from '../layouts/Layout.astro'
import Card from '../components/Herotext.astro';
import Herotext from '../components/Herotext.astro';

export interface Props {
    title: string;
}

const { title } = Astro.props;
---





<Layout title="World Dynmaps">
	<main>		

		
		<Herotext
		h1="World Dynmaps"
		p="Enjoy exploring dozens of Custom Worlds in a 3D Overview"
		p2="Hint: You can select new worlds in the right sidepanel">
	</Herotext>
	<div>
	</div>
	<iframe class="dynmap"
	src="https://mcmeddonworlds.my.pebble.host/?worldname=Jesankor&mapname=surface&zoom=0&x=4662&y=64&z=3745"
	>
</iframe>
<div class="instruction">
	<Instruction
		h2="McMeddons Worlds Dynmap"
		p=" "
		note="Note"
		p2="">
		Apologies for the incorrectly rendered Dynmap (Leaves misdisplayed).<br>
		It was a dynmap bug from a previous beta that continues to exist <br>
		Requires a full rerender of all maps to be fixed - will be done soon
	</Instruction>		
		</div>
    </main> 
</Layout>
<style>
.instruction {
	width: fit-content;
}

</style>



