---
import { Image, Picture } from "@astrojs/image/components";
---

<br>

<center><h2>Featured Worlds</h2></center>
    <div class="accordion">
<hr>

<!--panel item -->        
<div class="accordion-panel">
    <h3 id="panel-heading">
        <button
        type="button"
        aria-controls="panel1"
        aria-expanded="true"  
        class="accordion-trigger"
        id="accordionItem1"
        >Akonlyx
        </button>
    </h3>
    
    <div 
    class="accordionContent" 
    id="panel1" 
    aria-labelledby="accordionItem1"
    aria-hidden="true"
    role="region">
        <!-- <img class="accordion-image"src="/images/akonlyx/1.png" alt="image"> -->
        <Picture class="accordion-image" alt="accordion image" loading="eager"
        widths={[600, 1200, 1920]}
        aspectRatio={2/1}
        quality={50}
        format={"avif"}
        src="./images/akonlyx/1.png" 
        />
        <a target="_blank" href="https://www.planetminecraft.com/project/akonlyx/"><button class="btn btn-primary accordion-button">View on PMC</button></a>
        <!-- <p>super awesome duper Content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam saepe itaque aut iste neque sint voluptates, dignissimos, quod pariatur incidunt tempore accusamus sit enim mollitia accusantium laborum! Est, magni error.</p> -->
    </div>
</div> 
<!---->        

<!--panel item -->        
<div class="accordion-panel">
    <h3 id="panel-heading">
        <button
        type="button"
        aria-controls="panel1"
        aria-expanded="false"
        class="accordion-trigger"
        id="accordionItem1"
        >Kekaterra
        </button>
    </h3>
    
    <div 
    class="accordionContent" 
    id="panel1" 
    aria-labelledby="accordionItem1"
    aria-hidden="true"
    role="region">
        <!-- <img class="accordion-image" src="/images/kekaterra/2.png" alt="image"> -->

        <Picture class="accordion-image" alt="accordion image"  
        widths={[600, 1200, 1920]}
        aspectRatio={2/1}
        quality={50}
        format={"avif"}
        src="/images/kekaterra/2.png" />

        <a href="https://www.planetminecraft.com/project/Kekaterra/" target="_blank"><button class="btn btn-primary accordion-button">View on PMC</button></a>
        <!-- <p>super awesome duper Content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam saepe itaque aut iste neque sint voluptates, dignissimos, quod pariatur incidunt tempore accusamus sit enim mollitia accusantium laborum! Est, magni error.</p> -->
    </div>
</div>

<!--panel item -->        
        <div class="accordion-panel">
            <h3 id="panel-heading">
                <button
                type="button"
                aria-controls="panel1"
                aria-expanded="false"
                class="accordion-trigger"
                id="accordionItem1"
                >Jesankor
                </button>
            </h3>
            
            <div 
            class="accordionContent" 
            id="panel1" 
            aria-labelledby="accordionItem1"
            aria-hidden="true"
            role="region">
                <!-- <img class="accordion-image" src="/images/jesankor/00.png" alt="image"> -->
                <Picture class="accordion-image" alt="accordion image"  
                    widths={[600, 1200, 1920]}
                    aspectRatio={2/1}
                    quality={50}
                    format={"avif"}
                    src="/images/jesankor/00.png" />

                <a href="https://www.planetminecraft.com/project/Jesankor/" target="_blank"><button class="btn btn-primary accordion-button">View on PMC</button></a>
                <!-- <p>super awesome duper Content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam saepe itaque aut iste neque sint voluptates, dignissimos, quod pariatur incidunt tempore accusamus sit enim mollitia accusantium laborum! Est, magni error.</p> -->
            </div>
        </div>
<!---->


<!--panel item -->        
<div class="accordion-panel">
    <h3 id="panel-heading">
        <button
        type="button"
        aria-controls="panel1"
        aria-expanded="false"
        class="accordion-trigger"
        id="accordionItem1"
        >PMC Starter Map
        </button>
    </h3>
    
    <div 
    class="accordionContent" 
    id="panel1" 
    aria-labelledby="accordionItem1"
    aria-hidden="true"
    role="region">
        <!-- <img class="accordion-image" src="/images/pmcstarter/1.png" alt="image"> -->
        <Picture class="accordion-image" alt="accordion image"  
            widths={[600, 1200, 1920]}
            aspectRatio={2/1}
            quality={50}
            format={"avif"}
            src="/images/pmcstarter/1.png" />
        <a href="https://www.planetminecraft.com/project/official-starter-map-for-the-2021-pmc-and-nvidia-minecraft-build-event/"><button class="btn btn-primary accordion-button">Download From PMC</button></a>
        <!-- <p>super awesome duper Content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam saepe itaque aut iste neque sint voluptates, dignissimos, quod pariatur incidunt tempore accusamus sit enim mollitia accusantium laborum! Est, magni error.</p> -->
    </div>
</div>
<!---->

<!--panel item -->        
<div class="accordion-panel">
    <h3 id="panel-heading">
        <button
        type="button"
        aria-controls="panel1"
        aria-expanded="false"  
        class="accordion-trigger"
        id="accordionItem1"
        >Zarbokos
        </button>
    </h3>
    
    <div 
    class="accordionContent" 
    id="panel1" 
    aria-labelledby="accordionItem1"
    aria-hidden="true"
    role="region">
        <!-- <img class="accordion-image"src="/images/zarbokos/D.png" alt="image"> -->
        <Picture class="accordion-image" alt="accordion image"  
            widths={[600, 1200, 1920]}
            aspectRatio={2/1}
            quality={50}
            format={"avif"}
            src="/images/zarbokos/D.png" />
        <a target="_blank" href="https://www.planetminecraft.com/project/zarbokos/"><button class="btn btn-primary accordion-button">Download From PMC</button></a>
        <!-- <p>super awesome duper Content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam saepe itaque aut iste neque sint voluptates, dignissimos, quod pariatur incidunt tempore accusamus sit enim mollitia accusantium laborum! Est, magni error.</p> -->
    </div>
</div> 
<!---->

<!--panel item -->        
<div class="accordion-panel">
    <h3 id="panel-heading">
        <button
        type="button"
        aria-controls="panel1"
        aria-expanded="false"  
        class="accordion-trigger"
        id="accordionItem1"
        >Yorotorm
        </button>
    </h3>
    
    <div 
    class="accordionContent" 
    id="panel1" 
    aria-labelledby="accordionItem1"
    aria-hidden="true"
    role="region">
        <!-- <img class="accordion-image"src="/images/yorotorm/1.png" alt="image"> -->
        <Picture class="accordion-image" alt="accordion image"  
        widths={[600, 1200, 1920]}
        aspectRatio={2/1}
        quality={50}
        format={"avif"}
        src="/images/yorotorm/2.png" />
        <a target="_blank" href="https://www.planetminecraft.com/project/Yorotorm/"><button class="btn btn-primary accordion-button">View on PMC</button></a>
        <!-- <p>super awesome duper Content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam saepe itaque aut iste neque sint voluptates, dignissimos, quod pariatur incidunt tempore accusamus sit enim mollitia accusantium laborum! Est, magni error.</p> -->
    </div>
</div> 
<!---->

<!--panel item -->        
        <div class="accordion-panel">
            <h3 id="panel-heading">
                <button
                type="button"
                aria-controls="panel1"
                aria-expanded="false"
                class="accordion-trigger"
                id="accordionItem2"
                >Wullestor
                </button>
            </h3>
            
            <div 
            class="accordionContent" 
            id="panel1" 
            aria-labelledby="accordionItem2"
            aria-hidden="true"
            role="region">
                <!-- <img class="accordion-image"src="/images/wullestor/L.png" alt="image"> -->
                <Picture class="accordion-image" alt="accordion image"  
                    widths={[600, 1200, 1920]}
                    aspectRatio={2/1}
                    quality={50}
                    format={"avif"}
                    src="/images/wullestor/L.png" 
                    />
                <!-- <p><br>super awesome duper Content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam saepe itaque aut iste neque sint voluptates, dignissimos, quod pariatur incidunt tempore accusamus sit enim mollitia accusantium laborum! Est, magni error.</p> -->
                <a target="_blank" href="https://www.planetminecraft.com/project/wullestor/"><button class="btn btn-primary accordion-button">View on PMC</button></a>
            </div>
        </div>
    </div>
<style>
    img{ 
        max-width: 100%;
        display: block;
    }

    .accordion-button{ 
        margin-top: 1rem;
        bottom: 10;
        right: 10;
        overflow: hidden;
    }

    .accordion *{ 
        margin: 0; /* hotfix */
    }
    .accordion{
        --_button-size:2rem;
        --_panel-padding:1rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        /* margin-top: 5rem; */
    }

    
    .panel-heading{ color: white; margin:1em;}
    .accordion-panel{ 
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: first baseline;
        
        min-height: 5vh;
        position: relative;
        isolation: isolate;
        
        
        
        flex-basis: calc((var(--_button-size) + (var(--_panel-padding))*2)/2);
        overflow: hidden;
        border-radius: calc(var(--_button-size) + (var(--_panel-padding)*2)/2);
        transition: flex-basis 0.2s ease-in-out;
        padding:var(--_panel-padding);
    }
    .accordion-panel:has([aria-expanded="true"]){ 
        /* transform: translateY(0); */
        flex-basis: clamp(5rem, 50vh, 50rem);
        flex-grow: 1;
    }
    .accordion-panel:has([aria-expanded="false"]) .accordion-image{ 
        filter: brightness(.2);
    }
    .accordion-panel:has([aria-expanded="true"]) .accordion-image{ 
        filter: brightness(1);
    }
    .accordion-button {
        display:flex;
        float:right;
        align-items: center;
        margin-top: 5em;
        /* bottom: calc(var(--_panel-padding)); */
        
        
        z-index: 1;
    }

 /*    @media screen and (max-width:600px){
        .accordion-button{display:none;}
    } */

    .accordion-content > p {
        opacity: 0;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .accordion-image{ 
        width: 100%;
        height: 100%;
        position: absolute;
        inset:0;
        object-fit: cover;
        z-index: -1;
        
        transition: filter 0.2s ease-in-out;
    }

    .accordion-trigger{ 
        height: var(--_button-size);
        font-size:2rem;
        font-weight:800;
        color: inherit;
        display:flex;
        align-items: center;
        flex-direction:row-reverse;
        background: transparent;
        
        border:0;
    }

    .panel-header{ 
        color: inherit;
        padding: var(--_panel-padding);
    }

    
/**---------------------------------*/
</style>
<script> 
    const accordion = document.querySelector('.accordion');
        accordion.addEventListener('click', (e) => {
            const activePanel = e.target.closest('.accordion-panel');
            if (!activePanel) return;
            toggleAccordion(activePanel);
           /*  console.log(activePanel) */
    });

function toggleAccordion(panelToActivate) {
    const buttons = panelToActivate.parentElement.querySelectorAll('button');
    const contents = panelToActivate.parentElement.querySelectorAll('.accordionContent');
    console.log(buttons)

    buttons.forEach((button) => {
        button.setAttribute('aria-expanded', false);
    });

    contents.forEach((content) => {
        content.setAttribute('aria-hidden', true);
    });

    panelToActivate
    .querySelector('button')
    .setAttribute('aria-expanded', true);
    
    panelToActivate
    .querySelector('.accordionContent')
    .setAttribute('aria-expanded', false);

}

</script>