---
export interface Props {
	src: string;
}

const {src} = Astro.props;
---


<div class="videowrapper">
	<video class="videohero"autoplay muted loop>
   <source src={src} type="video/mp4">
   Your browser does not support the video tag.
</video>
</div>

<style>


.videowrapper{
	position:absolute;
	top:0;
	left:0;
	min-width:100%;
	z-index: -2;
}

.videohero{
	width:100%;
	object-fit: cover;
	height:73vh;
	
	filter: blur(2px);
	opacity: .5;
}
</style>