---
export interface Props {
	h1: string;
	p: string;
    p2: string;
	body: string;
}

const { h1, p, p2, body} = Astro.props;
---

<div class="herotitlewrapper">
    <h1><span class="text-gradient">{h1}</span></h1>
    <hr>
    <p>{p}<br>{p2} <slot></slot></p>
</div>


<style>

:root{
	--heropadding: 10px;
}

hr{
    margin: 1em;
}

.herotitlewrapper {
	padding-top:calc(var(--heropadding) + 4vw);
	padding-bottom:calc(var(--heropadding) + 4vw);
	text-align: center;
	margin:auto;
    min-width: auto;
	max-width: 70vw;
}

.herotitlewrapper h1 {
	
}
.herotitlewrapper p {
	font-weight: 100;
	
}

@media (max-width: 1400px) {
	/* .herotitlewrapper {padding:2em; width: 70%;} */
    /* .herotitlewrapper h1 {font-size: 2.5em;} */
}
/* 
@media (max-width: 1100px) {
	.herotitlewrapper {padding:2em; width: 90%;}
}
@media (max-width: 700px) {
    .herotitlewrapper {padding:.5em;}
} */

</style>