---
export interface Props {
	img: string;
	h2: string;
    p: string;
    href: string;
}

const { img, h2, href, p } = Astro.props;
import { Image, Picture } from "@astrojs/image/components";
---

<div class="wrapper">
    <a href={href}>
        <!-- width="1920px" -->
        <Picture class="heroimage" alt="banner image"
            widths={[600, 1200, 1920]}
            aspectRatio={2/1}
            quality={50}
            format={"avif"}
            src={img} />
        
        <div class="herobannertext">
            <h2 class="heroimagetitle ">{h2}</h2>
        </div>
        <!-- <p>{p}</p> -->
    </a>
</div>
    
<style>
.heroimage {
    width: 100%;
}

a {
    text-decoration: none;
}

.wrapper{
        position: relative;
        display:grid;
        grid-template-rows: 1fr auto;
        margin-bottom:2em ;
    }
    .herobannertext {
        position: absolute;
        bottom: 0;
    }


    .heroimagetitle {
        background: linear-gradient(30deg, rgba(0,0,0,.6) 65%, rgba(0,0,0,0) 100%);
        /* background-color: rgba(0, 0, 0, 0.7); */
        border-radius: 0 25px 25px 0;
        left:3px;
        bottom: 50px;
        color:white;
        text-align: center;
        /* font-size: 2.4em; */
        /* font-weight: 100; */
        font-style: italic;
        z-index: 9999;
        position: relative;
        padding: .5em;
        line-height: 1em;
    }

    p { 
        text-align: center;
        color:white;
        font-style:italic;
        font-weight: bold;
        padding:1em;
        margin-top:-1em;
        z-index: 2;
        }
    .heroimage {
        
        object-fit:cover;
        position: sticky;
        border-radius: 25px;
        z-index: 1;
        filter: brightness(100%);
        aspect-ratio: 4/2;
        max-height: 35em;
        
    }
    
	.heroimage {		
		list-style: none;
		padding: 0.25rem;
		background-color: #222;
		background-image: none;
		background-size: 400%;
		border-radius: 25px;
		background-position: 100%;
		transition: background-position 1s cubic-bezier(0.22, 1, 0.36, 1);
		
	}
	
	.heroimage:is(:hover, :focus-within) {
        border-radius: 25px;
        background-position: 0;
		background-image: var(--accent-gradient);
		
	}
</style>

