---
export interface Props {
	h2: string;
	p: string;
    p2: string;
    note: string;
}

const { h2, p, p2, note} = Astro.props;
---

<p class="instructions">
	<strong>{h2}</strong> <br>
	{p} 
	{p2} 
	<slot></slot>
</p>

<style>

.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
        background: rgba(var(--accent), 5%);
		padding: 1rem;
		border-radius: 0.4rem;
        color:var(--accent) ;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
</style>