---
import Pill from '../components/Pill.astro';
import McPingPill from '../components/McPingPill.astro';
const {playerCount } = Astro.props;
---
<div class="Pillcollection">
    
    <Pill 
    link="https://www.patreon.com/mcmeddon"
    title="Patreon"
    icon="../logos/patreon-v2.svg"
    target="_blank"
    />
    
    <Pill 
    link="https://www.planetminecraft.com/member/mcmeddon/"
    title="PMC"
    icon="../logos/pmc.webp"
    target="_blank"
    />
    
    <Pill 
    link="http://youtube.mcmeddon.com"
    title="Youtube"
    icon="../logos/youtube.svg"
    target="_blank"
    />
    
    <Pill 
    link="http://discord.mcmeddon.com"
    title="Discord"
    icon="../logos/discord.ico"
    target="_blank"
    />
    <Pill 
    link="http://pinterest.mcmeddon.com"
    title="Pinterest"
    icon="../logos/pinterest.png"
    target="_blank"
    />

    <Pill
    link="https://www.planetminecraft.com/server/play-mcmeddon-com/"
    title="play.mcmeddon.com"
    icon="../logos/server-icon.png" 
    target="_blank"
    >
        <McPingPill />
    </Pill>
    <div></div>
    <!-- <div><input type="search" placeholder="Search..."></div> -->    
</div>

<style>


 .Pillcollection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    @media (max-width: 600px) {
.Pillcollection{ 
    display: none;    
}
}

input[type="search"] {
    width: 100%;
    margin-top: 1em;    
    padding: 18px 20px;
    box-sizing: border-box;
    border: 2px solid #222;
    border-radius: 100px;
    background-color: #333;
  }

</style>
</style>