---
import McPing from '../components/McPing.astro'
---


<menu class="sidebar"> 
    <ul>
        <li> <a target="" href="/index.html"> <img class="sidebar-img" src="/logo.png" style="filter:;"> </a></li>
        <!-- <li> <a target="" href="/maps/" > <img class="sidebar-img" src="https://www.svgrepo.com/show/3237/nature-magnifying-glass.svg"> Maps </a></li> -->
        <li> <a target="_blank" href="https://www.planetminecraft.com/member/mcmeddon/submissions/?morder=order_latest"><img class="sidebar-img" src="https://www.svgrepo.com/show/514160/list.svg"> All Maps </a></li>
        <li> <a target="_blank" href="https://www.planetminecraft.com/blog/mcmeddons-roadmap/"> <img class="sidebar-img" src="https://www.svgrepo.com/show/92704/road-map-and-pin.svg"> Roadmap </a></li>
        <li> <a target="_blank" href="https://www.planetminecraft.com/blog/mcmeddons-map-update-history/"><img class="sidebar-img" src="https://www.svgrepo.com/show/509998/history.svg"> Update <br>History </a></li>
        <!-- <li> <a target="_blank" href="https://www.planetminecraft.com/blog/mcmeddons-public-projects/"> <img class="sidebar-img" src="https://www.svgrepo.com/show/92704/road-map-and-pin.svg"> Free Maps </a></li> -->
        <hr>

        
        <li> <a href="/worlds-dynmap/"> <img class="sidebar-img" src="https://www.svgrepo.com/show/1699/web-development.svg"> <center>World <br> Dynmaps </center></a></li>
        <!-- <li> <a target="_blank"href="http://worlds.mcmeddon.com"> <img class="sidebar-img" src="https://www.svgrepo.com/show/1699/web-development.svg"> <center>World <br> Dynmaps </center></a></li> -->
        <!-- <li> <a href="/smp-dynmap/"> <img class="sidebar-img" src="https://www.svgrepo.com/show/1699/web-development.svg"> <center>SMP <br> Dynmap</center> </a></li> -->
        <li> <a target="_blank"href="http://play.mcmeddon.com:8123/?worldname=Gelazkor&mapname=surface&zoom=1&x=2381&y=64&z=2500"> <img class="sidebar-img" src="https://www.svgrepo.com/show/1699/web-development.svg"> <center>SMP <br> Dynmap</center> </a></li>
    </ul>
    
</menu>

<style>

.sidebar{    
    width: var(--sidebar-max-width);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2d2f31;
    min-height: 100vh;
    height:100%;
    z-index: 999;
    /* border: 1px solid red; */
    max-width: 100%;
    padding:1em;

}

/* removing random padding fix */
.sidebar ul {
    margin:0;
    padding: 0;
}

.sidebar ul > li {
    margin:0;
    margin-top: 1em;
    margin-bottom: 1em;
    list-style-type: none;

    /* border: 1px solid blue; */
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar ul > li > a {
    
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    width: 100%;
    color:gray;
    text-decoration:  none;   
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    
     /* border: 1px solid green; */
}
.sidebar ul > li:not(:first-child) {
    filter: invert(.7);
}

.sidebar-img {
    max-height:2.5rem;
}

/* //add a transition to the hover  */
.sidebar ul > li:hover:not(:first-child) {
    filter: invert(46%) sepia(88%) saturate(782%) hue-rotate(16deg) brightness(90%) contrast(101%);
    transition: 0.2s;
}

</style>