---
import McPing from '../components/McPing.astro'
---


<menu class="sidebar"> 
    <ul>
        <li> 
            <a target="" href="/index.html">
                 <img class="sidebar-img" src="/logo.png" alt="logo">
            </a>
        </li>
        <li> 
            <a target="_blank" href="https://www.planetminecraft.com/member/mcmeddon/submissions/?morder=order_latest">
                <img class="sidebar-img" src="/ui/dices.svg" alt="list icon"> All Maps
                <!-- <img class="sidebar-img" src="https://www.svgrepo.com/show/355797/dices.svg" alt="list icon"> All Maps -->
             </a>
            </li>
        <li> 
            <a target="_blank" href="https://www.planetminecraft.com/blog/mcmeddons-roadmap/">
                 <img class="sidebar-img" src="/ui/path.svg" alt="Roadmap Icon"> Roadmap
                 <!-- <img class="sidebar-img" src="https://www.svgrepo.com/show/355872/path.svg" alt="Roadmap Icon"> Roadmap -->
            </a>
        </li>
        <li> 
            <a target="_blank" href="https://www.planetminecraft.com/blog/mcmeddons-map-update-history/">
                <img class="sidebar-img" src="/ui/history.svg" alt="history icon"> Update<br>History
                <!-- <img class="sidebar-img" src="https://www.svgrepo.com/show/509998/history.svg" alt="history icon"> Update<br>History -->
            </a>
        </li>
        <li> 
            <a href="/smp/">
                <img style="filter:grayscale(1);padding-bottom: 3px;"class="sidebar-img" src="/logos/server-icon.png" alt="SMP icon"> SMP
                <!-- <img class="sidebar-img" src="https://www.svgrepo.com/show/509998/history.svg" alt="history icon"> Update<br>History -->
            </a>
        </li>

        <li><hr></li>      
        <li> 
            <a href="/world-dynmaps/"> 
                <img class="sidebar-img" src="/ui/road-map-and-pin.svg" alt="Dynmap Icon">
                <!-- <img class="sidebar-img" src="https://www.svgrepo.com/show/92704/road-map-and-pin.svg" alt="Dynmap Icon"> -->
                 <center>World <br> Dynmaps </center>
            </a>
        </li>
        <li> 
            <a target="_blank" href="http://play.mcmeddon.com:8123/?worldname=Gelazkor&mapname=surface&zoom=1&x=2381&y=64&z=2500">
                 <img class="sidebar-img" src="/ui/map-location.svg"  alt="Dynmap Icon"> <center>SMP <br> Dynmap</center> 
                 <!-- <img class="sidebar-img" src="https://www.svgrepo.com/show/500616/map-location.svg"  alt="Dynmap Icon"> <center>SMP <br> Dynmap</center>  -->
            </a>
        </li>
    </ul>
</menu>

<style>







/*-----------------------*/
.sidebar{    
    margin:0;
    padding:0;
    max-width: var(--sidebar-max-width);
    /* max-width: 100%; */
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #2d2f31; */

    background: rgba(51, 51, 51, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border-right: 1px solid #222;

    min-height: 100vh;
    height:100%;
    z-index: 999;
    /* border: 1px solid red; */
    padding:1em;
}
/*-----------------------*/

.sidebar-img{
    width: auto;
    height: auto;}
/* removing random padding fix */
.sidebar ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    margin:0;
    padding: 0;
}

.sidebar ul > li {
    margin:0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    list-style-type: none;

    /* border: 1px solid blue; */
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sidebar ul > li > a {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    width: 100%;
    color:gray;
    text-decoration:  none;   
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    
     /* border: 1px solid green; */
}
.sidebar ul > li:not(:first-child) {
    filter: invert(.7);
}

.sidebar-img {
    height:40px;
    width:40px;
}

/* //add a transition to the hover  */
.sidebar ul > li:hover:not(:first-child) {
    filter: invert(46%) sepia(88%) saturate(782%) hue-rotate(16deg) brightness(90%) contrast(101%);
    transition: 0.2s;
}

</style>