---
import Sidebar from '../components/Sidebar.astro';
//import BBcode from '../components/BBcode.astro';
import '../styles/globalstyles.css';
import Pilcollection from '../components/Pillcollection.astro';
import BGani from '../components/BG-animation.astro';
import BGani2 from '../components/BG-animation2.astro';


// export interface Props {
//	title: string;
//} 

const { title } = Astro.props;
---


<!DOCTYPE html>
<html lang="en">
<!--
	"Sometimes all it takes, is someone that cares.."
-->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/site.webmanifest">
	</head>
	<body>	

	<!-- <menuplaceholder></menuplaceholder> -->
	<wrapper>
		<sidebar ><Sidebar /></sidebar>
		<content>
			<Pilcollection/>
			<background>
				<BGani />
				<BGani2 />
			</background>
			<div >
				<slot />
			</div>
			<div></div>
		</content>		
		<!-- <rightsidebar style="background-color: rgba(0,0,0,0.1);">
		 <div>i am the right sidebar</div>
		</rightsidebar> -->
	</wrapper>
	</body>
</html>
<style is:global>
	
	html,body {
		/* //import the font Inter Designed by Rasmus Andersson from googlefonts */
		@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
		font-family: 'Inter', sans-serif;
		margin: 0px;
		padding: 0px;
		height: 100vh;
		color:var(--text-color);
		
	}
	html {
		/* background-color:#111; */
	}
	
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	/* wrapper */
	content{
		/* margin:1em; */
		padding: calc(10px + 2rem);
		color: var(--text-color);   
	}

	wrapper{
		display:grid;
		grid-template-columns: var(--sidebar-max-width) auto;
		/*width right-sidebar*/
		/* grid-template-columns: var(--sidebar-max-width) auto auto; */
		/* grid-template-columns: var(--sidebar-max-width) auto 20em; */
		/* gap:1em; */
		
	}
	@media (max-width: 600px) {
		wrapper{
		display:grid;
		grid-template-columns: var(--sidebar-max-width-mobile) auto;
		/*width right-sidebar*/
		/* grid-template-columns: var(--sidebar-max-width) auto 20em; */
		/* gap:1em; */
	}
	}

	@media (max-width: 600px) {		
			wrapper{
			display:grid;
			grid-template-columns: var(--sidebar-max-width) auto;
		}
		content{margin:0em;width:100%;}
	}	
</style>
