---
import Sidebar from '../components/Sidebar.astro';
//import BBcode from '../components/BBcode.astro';
import '../styles/globalstyles.css';
import Pilcollection from '../components/Pillcollection.astro';
import BGani from '../components/BG-animation.astro';
import BGani2 from '../components/BG-animation2.astro';
/* import { Image, Picture } from "@astrojs/image/components"; */


// export interface Props {
//	title: string;
//} 

const { title } = Astro.props;
---


<!DOCTYPE html>
<html lang="en">
<!--
	"Sometimes all it takes, is one person that cares.."
-->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="The home for Advanced Survival Friendly Vanilla Minecraft Landscapes, Maps and Worlds by McMeddon" />
		<title>{title}</title>
		
		<!-- Load stylesheet -->
		<!-- <link rel="stylesheet" href="./node_modules/vanilla-cookieconsent/dist/cookieconsent.css"> -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.9.1/dist/cookieconsent.css">
		
		<!-- Load stylesheet -->
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/site.webmanifest">
	</head>
	<body>	
		
		<wrapper>
			<sidebar ><Sidebar /></sidebar>
			<content>
			<Pilcollection/>
			<background>
				<BGani />
				<BGani2 />
			</background>
			<div >
				<slot />
			</div>
			<div></div>
		</content>		
		<!-- <rightsidebar style="background-color: rgba(0,0,0,0.1);">
		 <div>i am the right sidebar</div>
		</rightsidebar> -->
		
	</wrapper>
	 
	<!-- Load cookie consent -->
	 

	<!-- Google tag (gtag.js) -->
		<script 
		async 
		src="https://www.googletagmanager.com/gtag/js?id=G-3145204CFM"
		type="text/plain"
    	data-cookiecategory="analytics"
		>
		console.log('"analyticstag" category accepted');
		</script>
		
		<script defer
		type="text/plain"
    	data-cookiecategory="analytics"
		>

			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-3145204CFM');		
			console.log('"analytics" category accepted');
		</script>

		<!-- Load cookie consent -->
		<script defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.9.1/dist/cookieconsent.js"></script>
		<script defer src=".././js/cookieconsent-init.js"></script>
	 
		
	</body>
</html>
<style is:global>
	
	html,body {
		/* //import the font Inter Designed by Rasmus Andersson from googlefonts */
		@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
		font-family: 'Inter', sans-serif;
		margin: 0px;
		padding: 0px;
		height: 100vh;
		color:var(--text-color);
		
	}
	html {
		/* background-color:#111; */
	}
	
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	/* wrapper */

	
	
	content{
		/* margin:1em; */
		grid-template-columns: auto;
		color: var(--text-color);   
	}
	@media screen and (min-width: 700px) {
		content {
			padding:2em;
			padding-left: calc(10px + 3rem);
			padding-right: calc(10px + 3rem);
		}
	}

	wrapper{
		display:grid;
		grid-template-columns: var(--sidebar-max-width) auto;
		/*width right-sidebar*/
		/* grid-template-columns: var(--sidebar-max-width) auto auto; */
		/* grid-template-columns: var(--sidebar-max-width) auto 20em; */
		/* gap:1em; */
		
	}

</style>
